<!DOCTYPE html>
<html lang="en">
{% extends "user_navbar.html" %}

{% block content %}
<div class="container" style="max-width:unset; height:100vh; width:100%;">
    <h1 class="text-center">Orders</h1>

    <!-- Orders Table -->
    <table id="categoriesTable" style="width: 100%; border-collapse: collapse; margin: 20px auto; font-family: Arial, sans-serif; background-color: #fff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); border-radius: 8px;">
        <thead>
            <tr style="background-color: #bde0fe;">
                <th style="width: 10%; padding: 12px; text-align: left; border-bottom: 1px solid #ddd; font-weight: 600;">Sr No</th>
                <th style="width: 20%; padding: 12px; text-align: left; border-bottom: 1px solid #ddd; font-weight: 600;">Booking Date</th>
                <th style="width: 20%; padding: 12px; text-align: left; border-bottom: 1px solid #ddd; font-weight: 600;">Pro. Name</th>
                <th style="width: 20%; padding: 12px; text-align: left; border-bottom: 1px solid #ddd; font-weight: 600;">Service</th>
                <th style="width: 20%; padding: 12px; text-align: left; border-bottom: 1px solid #ddd; font-weight: 600;">Address</th>
                <th style="width: 10%; padding: 12px; text-align: left; border-bottom: 1px solid #ddd; font-weight: 600;">Bill</th>
                <th style="width: 30%; padding: 12px; text-align: left; border-bottom: 1px solid #ddd; font-weight: 600;">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr class="order-row" data-status="{{ order.order.7 }}" style="border-bottom: 1px solid #ddd;">
                <td style="padding: 12px;">{{ order.order.0 }}</td>
                <td style="padding: 12px;">{{ order.order.8 }}</td>
                <td style="padding: 12px;">{{ order.sp_name }}</td>
                <td style="padding: 12px;">{{ order.service_name }}</td>
                <td style="padding: 12px;">{{ order.order.4 }}</td>
                <td style="padding: 12px;">{{ order.order.5 }}</td>
                <td style="padding: 12px;">{{ order.order.7 }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}
